body {
  background-color: cadetblue;
  font-family: 'Sedgwick Ave Display', cursive;
  color: firebrick;
}

#game-title {
    font-size: 50px;
}

#main {
  margin: 0 auto;
  margin-top: 200px;
  margin-top: 50px;
  width: 1000px;
}

#game-canvas {
  background-color: white;
}

.start-image {
  display: none;
}
