
body {
  background: linear-gradient(to bottom right, cadetblue, #88a238);
  color: firebrick;
  font-family: sans-serif;
}

header {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}

header ul{
  display: flex;
}

#portfolio-link :hover {
  color: white;
}

.header-li {
  padding-left: 10px
}

.header-li :hover{
  color: white;
}

#game-title {
  font-family: 'Sedgwick Ave Display', cursive;
    font-size: 80px;
}

#main {
  margin: 0 auto;
  margin-top: 200px;
  margin-top: 50px;
  width: 1000px;
}

#game-canvas {
  background: #02010121;
  padding: 5%;
}

.start-image {
  display: none;
}

#game-container {
  display: flex;
}

#score {
  font-size: 45px;
  font-family: sans-serif;
  font-weight: 500;
  padding: 25px;
  text-align: center;
}
